<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ gemeente }} Kaart</title>
    <style>
        html, body {width: 100%;height: 100%;margin: 0;padding: 0;}
    </style>
</head>
<body>
    <!---<p>{{ url_for('static', filename='kaarten/kaart_' + gemeente + '.html') }}</p>-->
    <iframe src="{{ url_for('static', filename='kaarten/kaart_' + gemeente + '.html') }}" width="100%" height="100%"></iframe>
</body>
</html>

