 /* Achtergrond en tekstkleuren */
 body { 
    margin: 0px;
    background-color: #f3e8e1;
    font-family: 'Lato', sans-serif;}
 h1 {color: var(--donker_blauw);}
 h2 {color: var(--donker_blauw);}
 h3 {color: var(--grijs_blauw)}
 h4 {color: var(--donker_blauw)}
 p {color: rgb(0, 0, 0);}
 
 :root {
    --oranje: rgb(222, 104, 55);
    --grijs_blauw: rgb(88, 124, 156);
    --donker_blauw: rgb(19, 57, 128);
    --licht_blauw: rgb(170, 200, 225);
    --geel: rgb(255, 224, 127);
    --off_white:  #f4f4f4; 
    --oranje-risico: rgb(222, 104, 55);
    --rood-risico: rgb(210, 50, 47);
    --groen-risico: rgb(78, 146, 72);

}

 /* Styling voor de navigatiebalk */
 .NavigationBar {
     background-color: var(--donker_blauw); /* Achtergrondkleur van de navigatiebalk */
     overflow: hidden;
     display: flex; /* Flexbox gebruiken voor uitlijning */
     justify-content: space-between; /* Elementen aan beide zijden uitlijnen */
     padding: 0; /* Ruimte aan beide zijden */
     align-items: center; /* Verticaal centreren binnen de navigatiebalk */
     height: 75px; /* Hoogte van de navigatiebalk */
     width: 100%;
     top: 0;
     border-bottom: 10px solid;
     border-color: var(--oranje);
 }

 /* Logo-stijl */
 .navbar-brand img {
     width: 70px; /* Breedte van het logo */
     height: 40px; /* Hoogte van het logo */
     transition: none;
 }
.pagina:hover{  /* Kleur van de links veranderen bij hover */
       background-color: var(--licht_blauw);
       color: black;
   }

#kaart-met-knoppen{
    flex: 1;
    width: 70%; /* Zorg dat het iframe 70% van de containerbreedte inneemt */
}

#kaart {
    height: 400px; /* Geef de iframe een vaste hoogte */
    border: none; /* Verwijder iframe-randen */
    border-radius: 15px ;
}
 #kaart iframe {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
 }
 /* Styling voor de links binnen de navigatiebalk */
 .NavigationBar a {
     color: white;
     text-align: center;
     padding: 14px 20px;
     text-decoration: none;
     font-size: 17px;
     border-radius: 25px;
 }

 /* Actieve link stijl */
 .NavigationBar a.active {
     background-color: #2a0671;
     color: white;
 }
.paginas {
    padding-right:40px;
}
  /* Zorg ervoor dat de container genoeg breedte heeft */
  #kaart-legende {
    margin-top: 20px;
    display: flex; /* Flexbox om de elementen naast elkaar te zetten */
    align-items: flex-start; /* Elementen bovenaan uitlijnen */
    gap: 20px; /* Ruimte tussen iframe en info */
    width: 100%; /* Container neemt de volledige breedte in */
}
.inhoud {
    margin-left: 5%;
    margin-right: 5%;
}
#iframe {
    width: 100%;
    height: 100%;
}
.gemeente-select {
    position: relative;
}

.gerond {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Info-div met een vaste breedte */
#info {
    flex: 0 0 300px; /* Maak de info-div 300px breed */
    background-color: var(--licht_blauw); 
    height: 450px;
    border: 5px solid;
    border-color: var(--oranje);
}
.tekst {
    padding-left: 15px;
}
.legende-regel {
    display: flex; /* Gebruik Flexbox voor het uitlijnen */
    align-items: center; /* Verticaal centreren */
    height: 25px;
}
#extra-info {
    margin-top: 15px;
    padding-left: 15px;
}
.vierkant {
    width: 15px; /* Breedte van het vierkant */
    height: 15px; /* Hoogte van het vierkant (moet gelijk zijn aan de breedte voor een vierkant) */
    margin: 10px
}
.rood {
    background-color: red;
}
.oranje {
    background-color: rgb(203, 131, 54);
}
.groen {
    background-color: rgb(10, 152, 5);
}
.gemeente-select{
    margin-bottom: 10px;
}
 .button-container {
    margin-top: 15px;
    display: flex;
    justify-content:flex-start;; /* Knoppen centreren in de container */
    gap: 40px; /* Ruimte tussen de knoppen */
    margin-bottom: 10px
}
.button-container button {
    background-color: var(--oranje);
    width: 35%;
    border: none;
    padding: 0
    }

.upload-container label {
    display: flex;
    justify-content: flex-start;
    background-color: var(--licht_blauw);
    margin-bottom: 8px;
}

.upload-container input[type="file"] {
    display: block;
    margin: 10px auto;
}


.afbeelding-rechts {
    float: right;
    margin-left: 30Px;
    width: 250px;
    height: auto;
}
